html, body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 15%;
    background-color: darkslategrey;
    color: whitesmoke;
    font-size: 6rem;
    font-weight: 600;
}

.game-window {
    height: 80%;
    width: 100vw;
    background-color: darkslategrey;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer {
    height: 5%;
    width: 100vw;
    background-color: whitesmoke;
    color: darkslategrey;
    display: flex;
    align-items: center;
    justify-content: center;
}

.game-field-container {
    display: grid;
    height: 60%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin-top: 20px;
}

.game-field {
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: darkslategrey;
}

img {
    width: 70%;
    height: 70%;
}

.game-field:nth-child(1),
.game-field:nth-child(2),
.game-field:nth-child(3) {
    border-bottom: 4px solid white;
}

.game-field:nth-child(1),
.game-field:nth-child(4),
.game-field:nth-child(7) {
    border-right: 4px solid white;
}

.game-field:nth-child(4),
.game-field:nth-child(5),
.game-field:nth-child(6) {
    border-bottom: 4px solid white;
}

.game-field:nth-child(2),
.game-field:nth-child(5),
.game-field:nth-child(8) {
    border-right: 4px solid white;
}

#game-console {
    height: 5%;
    width: 50%;
    background-color: darkslategrey;
    color: whitesmoke;
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
    margin: 2rem 0 2rem 0;
}

dialog {
    text-align: left;
    padding: 20px;
}

dialog label {
    font-size: 1.5em;
    font-weight: 600;
}

.form-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.8em;
    gap: 15px;
}

.form-group input {
    height: 1.5em;
}

.action-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0 0 0;
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
}
